body {
   background-repeat: no-repeat;
}

@font-face {
  font-family: 'cot';
  src: url('Weightless.otf') format(opentype);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'vmi';
  src: url('VictorMono-Italic.woff2') format(woff2);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'vmo';
  src: url('VictorMono-Oblique.woff2') format(woff2);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'bru';
  src: url('Bruney.woff') format(woff);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'lkr';
  src: url('Laker.woff') format(woff);
  font-style: normal;
  font-weight: normal;
}

.f1 {
  font-family: 'cot';
}
.f2 {
  font-family: 'vmi';
}
.f3 {
  font-family: 'vmo';
}
.f4, .f5, .f6 {
  font-family: 'bru';
}
.f7 {
  font-family: 'lkr';
}

* {

   margin: 0;

   padding: 0;

}

#c1 {

   height: 100vh;

   /*background: url("https://source.unsplash.com/random/1920x1080?nightlife,neondemon,purrple,streetnight,city,night");*/

   background-position: center;

   background-size: cover;

}

.box {

   position: absolute;

   top: 50%;

   left: 50%;

   transform: translate(-50%,-50%);

   height: 100%;

   width: 100%;

   backdrop-filter: blur(2px);

   /*background-color: #222b3369;*/

}

.c2 {

   display: flex;

   position: absolute;

   flex-direction: column;

   gap: 20px;

   top: 50%;

   left: 50%;

   color: white;

   transform: translate(-50%, -50%);

}
