body {
  /* display: flex;
  min-height: 100vh;
  flex-direction: column; */
  background: #f4f4f4;
  font-family: "Arsenal SC", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1 0 auto;
}

header {
  width: 100%;
  height: 4.2rem;
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -10px red;
}
header .app-logo-text {
  display: flex;
  align-items: center;
}
header img, footer img {
  width: 4rem;
}
.app-logo-text a {
  color: #388E3C !important;
  font-size: 2rem;
  font-style: italic;
  margin: auto 1rem;
}
header span {
  position: absolute;
  right: 20px;
}

.options {
  margin: 1rem 0 0;
}
.options .select-wrapper  { /* Dropdown */
  width: 8rem;
}
.option-options-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.option-options-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.option-options-2 #first_name {
  width: 9rem;
}
.option-options-2 button {
  width: 4.5rem;
}


footer {
  font-size: large;
}
.footer-main {
  margin: auto;
}
.footer-heading-top {
  display: flex;
  align-items: center;
}
.footer-heading-top h5 {
  font-size: 2rem;
  margin: 1rem;
}
.footer-heading p {
  font-size: 2rem;
  margin: 0 0  1rem;
}


