body {
  /* display: flex;
  min-height: 100vh;
  flex-direction: column; */
  background: #e1e2e4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1 0 auto;
}

header {
  width: 100%;
  height: 4.2rem;
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
}
header .app-logo-text {
  display: flex;
}
header img, footer img {
  width: 4rem;
}
header p {
  font-size: 1.7rem;
  font-style: italic;
  margin: auto 1rem;
}
header span {
  position: absolute;
  right: 20px;
}

.footer-main {
  margin: auto;
}
.footer-heading-top {
  display: flex;
}
.footer-heading-top h5 {
  margin: 1rem;
}


